body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
  transition: background-color 0.1s ease;
}

button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 20px 40px;
  font-size: 24px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #555;
}
